{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {%if messages%}
            {%for category,msg in messages%}
                {%if category=="error"%}
                    <div class="alert alert-danger" role="alert">
                        {{msg}}
                    </div>
                {%elif category=="success"%}
                    <div class="alert alert-success" role="alert">
                        {{msg}}
                    </div>
                {%elif category=="merror"%}
                    {%block modal%}
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="exampleModalLabel">Dikkat</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              Discorda sunucusuna kayıt olmadığın ya da discord sunucusuna katılmadığın saptandı. Lütfen sunucuya katıl ve kayıt ol.
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                              <button type="button" onclick="location.href='https://discord.gg/jNcCykq95g'" class="btn btn-primary">Kayıt Ol!</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    {%endblock%}
                    {%block script%}
                    <script>
                        $(document).ready(function(){
                            $('#exampleModal').modal('show');
                        });
                    </script>
                    {%endblock%}
                {%endif%}
            {%endfor%}
        {%endif%}
    {%endwith%}
{% endblock %} 